log4j.appender.ConsoleAppender=org.apache.log4j.ConsoleAppender
log4j.appender.ConsoleAppender.layout=org.apache.log4j.PatternLayout
log4j.appender.ConsoleAppender.layout.ConversionPattern=%d [%t] %-5p %c - %m%n
 
log4j.appender.RollingAppender=org.apache.log4j.DailyRollingFileAppender
log4j.appender.RollingAppender.File=/var/log/spark.log
log4j.appender.RollingAppender.DatePattern='.'yyyy-MM-dd
log4j.appender.RollingAppender.layout=org.apache.log4j.PatternLayout
log4j.appender.RollingAppender.layout.ConversionPattern=[%p] %d %c %M - %m%n

log4j.appender.RollingAppenderU=org.apache.log4j.DailyRollingFileAppender
log4j.appender.RollingAppenderU.File=/var/log/sparkU.log
log4j.appender.RollingAppenderU.DatePattern='.'yyyy-MM-dd
log4j.appender.RollingAppenderU.layout=org.apache.log4j.PatternLayout
log4j.appender.RollingAppenderU.layout.ConversionPattern=[%p] %d %c %M - %m%n
 
 
# By default, everything goes to console and file
log4j.rootLogger=INFO, RollingAppender, ConsoleAppender

# My custom logging goes to another file
log4j.logger.com.example=DEBUG, RollingAppenderU, ConsoleAppender
 
# The noisier spark logs go to file only
log4j.logger.org.apache.spark.storage=INFO, RollingAppender
log4j.additivity.org.apache.spark.storage=false
log4j.logger.org.apache.spark.scheduler=INFO, RollingAppender
log4j.additivity.org.apache.spark.scheduler=false
log4j.logger.org.apache.spark.CacheTracker=INFO, RollingAppender
log4j.additivity.org.apache.spark.CacheTracker=false
log4j.logger.org.apache.spark.CacheTrackerActor=INFO, RollingAppender
log4j.additivity.org.apache.spark.CacheTrackerActor=false
log4j.logger.org.apache.spark.MapOutputTrackerActor=INFO, RollingAppender
log4j.additivity.org.apache.spark.MapOutputTrackerActor=false
log4j.logger.org.apache.spark.MapOutputTracker=INFO, RollingAppender
log4j.additivty.org.apache.spark.MapOutputTracker=false